.name {
    font-size: 7vw;
    margin-top: 26vh;

    margin-left:3vw;
}
.bi{
    font-size:3vw;
    margin-top: 6vh;
    margin-left:9vw;
}
body {
    background-image: url('./bgphotos/bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
.hd{
    display: flex;
    flex-direction: row;
}
#dpdiv{
    opacity: 0;
    transition: all 2.25s;
}
.dp{
    padding:0% ;
    width: 20vh;
    height: 25vh;
    margin-left: 15vw;
    margin-top: 21vh;
}

.footer {
    margin-top: 20vh;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;

}
.sclink {
    padding: 0%;
    margin:0%;
    width: 20%;

}
.sclink:hover{
    transform: scale(1.5,1.5);
    cursor:pointer;
    
}
.sclink:active{
    transform: scale(1,1);
    cursor:grabbing;
}